@charset"utf-8"
.container ul {
	list-style: none
}

.container li {
	height: 25px;
	line-height: 25px;
	padding-left: 15px;
	background: url(../img/arr.jpg) no-repeat center left
}

.container li a {
	text-decoration: none;
	color: #ccc;
	font-family: "microsoft yahei", "黑体", arial, simsun, "arial rounded mt bold"
}
