header {
	background: green
}

header h1 {
	color: #fff
}

.width {
	width: 500px
}

header {
	background: green url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png);
	height: 300px
}

.lazy_eval {
	width: 9%
}

.class {
	one: 1
}

.class .brass {
	three: 3
}
